<%- include('partials/header.ejs') %> 

<h1>HOME</h1>


<% console.log(posts) %> 

<% posts.forEach(function (post){ %>
<% let length = 20; %> 
<h1> <%= post.title %>  </h1>
<p> 
<%= post.content.substring(0,100) + "..."  %> 

<a href= "/posts/ <%= post.title %>"> Read More</a>
</p> 

<% }); %>

<%- include('partials/footer.ejs') %> 